.footer_back{
    height: auto; 
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(60, 125, 200, 0.6), rgba(60, 125, 200, 0.6)),
    url("/static/img/footer.jpg");
    background-position: center;
    position: relative;
}

.side_footer{
    margin-top: 70px;
}

.lisst{
    list-style: none;
    margin-top: 50px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    text-align: left;

}
.lisst li{
    margin-left: 50px;
}

.lisst li a:hover,
.lisst li a:active,
.lisst li a:focus{
    color: white;
    border-bottom: 2px white solid;
    cursor: pointer;
}
.lisst a:hover,
.lisst a:active,
.lisst a:focus{
    color: white;
    border-bottom: 2px white solid;
    cursor: pointer;
}


.links_banner {
    border-radius: 100%;
    font-size: 25px;
    width: 35px;
    height: 35px;
    display: inline-block;
    color: #202020;
    background-color: white;
    text-align: center;
    padding: 5px;
}



.links_banner:hover,
.links_banner:active{
    color: white;
    background-color: #18181800;
}

.cus_button{
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    margin: auto;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    font-size: 18px;
    font-family: monospace;
    letter-spacing: 2px;
    border: 3px solid white;

  }
  
  .cus_button:hover,
  .cus_button:active,
  .cus_button:focus{
    color: black;
    border-color: white;
    background-color: white;
    text-decoration: none;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }