{% block footer %}
{% load static %}

<div class="footer_back">
    <br>
    <br>
    <br>s
    <div class="container">

        <div class="row" style="margin-bottom: 30px;">

            <div class="col-lg-4">
                <ul class="lisst"><b style="font-size: 23px;"><a href="#">Explore</a></b>
                    <li><a href="#">Science</a></li>
                    <li><a href="#">Maths</a></li>
                    <li><a href="#">Creative Arts</a></li>
                    <li><a href="#">Tinkering and Technology</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="lisst"><b style="font-size: 23px;"><a href="#">Company</a></b>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Professionals</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Community guidance</a></li>
                </ul>
            </div>

            <div class="col-lg-4">
                <ul class="lisst"><b style="font-size: 23px;">Contact us</b>
                    <li>
                        <h3>
                            <a href="#" class="links_banner"><i class="fa fa-facebook"></i></a>&nbsp;
                            <a href="#" class="links_banner"><i class="fa fa-youtube"></i></a>&nbsp;
                            <a href="#" class="links_banner"><i class="fa fa-instagram"></i></a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <span><i class="fa fa-phone" style="color: white; font-size: 25px;">
                                <b style="color: white; font-size: 20px;">&nbsp;&nbsp;&nbsp;123424534</b></i></span>
                        </h3>
                        
                    </li>
                    <li>
                        <h3>
                            <span><i class="fa fa-commenting-o" style="color: white; font-size: 25px;">
                                <b style="color: white; font-size: 20px;">&nbsp;&nbsp;&nbsp;somebody@some.com</b></i></span>
                        </h3>
                        
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}